body{
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  background-color: hsl(30, 54%, 90%);
  padding: 100px;
}

.recipe{
  background-color: hsl(0, 0%, 100%);
  padding: 50px;
  border-radius: 10px;
  text-align: left;
}

.paragraph{
  color: hsl(30, 10%, 34%);
}

h1,h2, h3{
    font-family: "Young Serif", serif;
}

h1{
    color: hsl(24, 5%, 18%);
    font-size: xx-large;
    
}

h2{
    color:hsl(14, 45%, 36%);
}
  
h3{
   color:hsl(332, 51%, 32%)
}

.Preparation{
background-color: hsl(330, 100%, 98%);
padding: 20px;
border-radius: 10px;
}

.nutritional{
  text-align: center;
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

li{
  margin-bottom: 10px;
}

img {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px;
}

  @media (max-width: 375px) {
    body {
      width: 375px;
      margin: 0 auto; 
      background-color: hsl(0, 0%, 100%);
    }
  }

  li::marker{
  color: hsl(14, 45%, 36%);
  }

